post:
  tags:
    - User-Settings
  summary: Create user
  operationId: createUser
  requestBody:
    content:
      application/json:
        schema:
          type: object
          required:
            - data
          properties:
            data:
              $ref: '#/components/schemas/CreateUser'
  responses:
    '200':
      description: User created successfully
    '500':
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RequestError'
    '400':
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RequestError'
get:
  tags:
    - User-Settings
  summary: Get user list
  operationId: getUserList
  parameters:
    - $ref: '#/components/parameters/pageNumberParam'
    - $ref: '#/components/parameters/pageLimitParam'
    - in: query
      name: 'page[limit]'
      required: false
      schema:
        type: string
    - in: query
      name: 'page[offset]'
      required: false
      schema:
        type: string
  responses:
    '200':
      description: Success
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/UserList'
              links:
                type: object
                description: "Provides links for pagination"
                properties:
                  self:
                    type: string
                    description: "link to the current page"
                  next:
                    type: string
                    description: "link to the next page"
                  last:
                    type: string
                    description: "link to the last page"
    '500':
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RequestError'